<%- contentFor('body') %>
<section class="head-image bg-image">

    <div class="container text-center" style="z-index: 999;">
        <h1 class="text-center display-2 mobjaan">Mobjaan's</h1>
        <p class="lead">Marketplace to sell &amp; purchase images</p>
        <form class="form-inline d-block my-5" method="GET" action="/search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for Images" aria-label="Search" style="width: 250px;">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

</section>